.jeep{
    position: absolute;
    background-image: url('jeep.png');
    width: 250px;
    height: 250px;
	background-size: contain; 
    background-repeat: no-repeat; /* A imagem não se repete */
    background-position: center; /* A imagem está centralizada */
}

.jeep2 {
    background-image: url('jeep2.png');
    width: 200px;
    height: 200px;
    background-size: contain; 
    background-repeat: no-repeat; /* A imagem não se repete */
    background-position: center; /* A imagem está centralizada */
}