<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="webEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <webEngine.Properties.Settings>
            <setting name="EditorFont" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="EditorFontSize" serializeAs="String">
                <value>14</value>
            </setting>
        </webEngine.Properties.Settings>
    </userSettings>
</configuration>